%footer.page-footer.indigo.darken-4{class: "#1a237e"}
  .container
    .row
      .col.l6.s12
        %h5.white-text About
        %p.grey-text.text-lighten-4 You can write soccer reviews on this site.
      .col.l4.offset-l2.s12
        %h5.white-text Links
        %ul
          %li
            %a.grey-text.text-lighten-3{:href => "#!"} Link 1
          %li
            %a.grey-text.text-lighten-3{:href => "#!"} Link 2
          %li
            %a.grey-text.text-lighten-3{:href => "#!"} Link 3
          %li
            %a.grey-text.text-lighten-3{:href => "#!"} Link 4
  .footer-copyright
    .container
      © 2019 FootReview
