%nav.indigo.darken-4{class: "#1a237e"}
  .nav-wrapper
    %a.brand-logo{href: "/"} FootReview
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a{:href => "sass.html"} Sass
      %li
        %a{:href => "badges.html"} Components
      %li
        %a{:href => "collapsible.html"} JavaScript