.label {
  font-size: 20px;
}

#review_rate {
  width: 30px;
}

.mom-form {
  padding-top: 20px;
}

.text-form {
  padding-top: 20px;
}

#review_text {
  height: 40vh;
}

.waves-button-input {
  color: $white;
}

.btn:hover {
  opacity: 0.8;
}

textarea {
  height: 350px;
}

.select-wrapper {
  width: 200px;
}