// アイキャッチ 
.eye-catch {
  background-image: image-url("eye-catch.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  &__shadow {
    height: 300px;
    background-color:rgba(0, 0, 0, 0.5);
  }
  &__text {
    font-size: 50px;
    color: white;
    line-height: 300px;
    text-align: center;
    font-style: oblique;
  }
}

// 試合一覧
.main {
  width: 100%;
  &__wrapper {
    width: 60%;
    margin: 0 auto;
    &__title{
      font-size: 50px;
      text-align: center;
      border-bottom: 1px ridge black;
    }
  }
}

.main__content {
  background-image: image-url("match-list.jpg");
  background-size: cover;
  background-position: center;
  height: 100px;
  margin-bottom: 20px;
  &__shadow {
    height: 100px;
    background-color:rgba(0, 0, 0, 0.8);
    margin-top: 20px;
    text-align: center;
    display: flex;
  }
  &__home-image {
    width: 33%;
    padding-top: 15px;
  }
  &__team-names {
    color: white;
    font-size: 16px;
    width: 34%;
    line-height: 33px;
  }
  &__away-image {
    width: 33%;
    padding-top: 15px;
  }
}

.main__content:hover {
  opacity: 0.8;
}

// ページネーション
.pagination {
  background-color: white;
  box-shadow: none;
  text-align: center;
  & a, span {
    color: #1a237e;
  }
}