.match-makeup-content {
  @include box(80%, 160px);
  margin: 0 auto;
  background-image: image-url("match-makeup.jpg");
  background-size: cover;
  background-position: center;
  border: 3px solid yellow;
  &__shadow {
    height: 154px;
    background-color:rgba(0, 0, 0, 0.8);
    display: flex;
  }
}

.home-team-content, .away-team-content {
  @include box(50%, 150px);
  color: $white;
  text-align: center;
  &__image {
    padding-top: 5px;
  }
  &__score {
    font-size: 40px;
  }
}

// メンバー表
.starting_member_table, .change_in_member_table, .change_out_member_table {
  display: flex;
  width: 60vw;
  margin: 0 auto;
}

.change_in_member_table, .change_out_member_table {
  margin-top: 20px;
}

.position {
  width: 50px;
  text-align: center;
  border-left: 5px solid $white;
}

.time {
  width: 100px;
}

.card{
  border: 2px solid $indigo;
}

// レビュー投稿ボタン
.review_btn {
  display: block;
  margin: 20px auto;
  width: 200px;
}

// レビューリスト
.show {
  width: 100%;
  &__wrapper {
    width: 70vw;
    margin: 0 auto;
    &__title{
      font-size: 50px;
      width: 90%;
      text-align: center;
      margin: 0 auto;
      border-bottom: 1px ridge $black;
    }
  }
}

.card-content {
  display: flex;
  height: 104px;
}

.review_list_avatar {
  @include box(50px, 50px);
  border-radius: 50%;
  background-position: center;
}

.review_list_name {
  line-height: 52px;
  font-size: 30px;
  padding-left: 20px;
}

@media(max-width:1000px){
  .review_list_name {
    font-size: 15px;
  }
}